<div style="display: block;" id="resume" style="border: 0;" class="collaspse show home-main-div">
  <div class="card card-body bg-warning text-white py-5 resume-card">
    <h3>My Portfolio</h3>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, quod!</p>
  </div>
  <div class="card card-body py-5">
    <h3>What Have I Built?</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, numquam. Consequuntur vero, voluptatibus ratione
      mollitia omnis id possimus doloremque qui?</p>
    <div class="row ">
      <div class="col-md-6">
        <a href="https://www.ynet.co.il" data-toggle="lightbox" data-height="900" data-width="1500">
          <img src="../../img/Work-Projects-Glozzom.jpg" alt="" class="img-fluid">
        </a>
      </div>
      <div  class="col-md-6">
        <a href="https://www.walla.co.il" data-toggle="lightbox" data-height="900" data-width="1500">
          <img src="../../img/Work-Projects-Glozzom.jpg" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a href="https://www.walla.co.il" data-toggle="lightbox" data-height="900" data-width="1500">
          <img src="../../img/Work-Projects-Glozzom.jpg" alt="" class="img-fluid">
        </a>
      </div>
      <div class="col-md-6">
        <a href="https://www.walla.co.il" data-toggle="lightbox" data-height="900" data-width="1500">
          <img src="../../img/Work-Projects-Glozzom.jpg" alt="" class="img-fluid">
        </a>
      </div>
    </div>

  </div>

</div>