<div style="display: block;" id="resume" style="border: 0;" class="collaspse show home-main-div">

  <div class="card card-body bg-success text-white py-5 resume-card">
    <h2>My Resume</h2>
    <p style="font-size: 25px;" class="lead">Here listed a few companies I have worked for</p>
  </div>

  <div class="card card-body py-5">
    <h3 style="margin-bottom: 28px;">Where Have I Worked</h3>

    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Devmasters</h4>
          <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, tenetur?</p>
          <p class="p-2 mb-3 bg-dark text-white">
            Posion: Full Stack Developer
          </p>
          <p class="p-2 mb-3 bg-dark text-white">
            Phone: (444) 444-4444
          </p>
        </div>
        <div class="card-footer">
          <h5 class="text-muted">Dates: 2015-2017</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Mellanox</h4>
          <p class="card-text">R&D team, developing & supporting complex data traffic abilities (Ethernet, Infiniband).</p>
          <p class="p-2 mb-3 bg-dark text-white">
            Posion: Linux Drivers Developer
          </p>
          <p class="p-2 mb-3 bg-dark text-white">
            Phone: +972-74-723-5500
          </p>
        </div>
        <div class="card-footer">
          <h5 class="text-muted">Dates: 2015-2017</h5>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Teacher Assistant </h4>
          <p class="card-text">Students teaching for 3 semesters. Teaching differential and integral course.</p>
          <p class="p-2 mb-3 bg-dark text-white">
            Posion: Teacher Assistant
          </p>
          <p class="p-2 mb-3 bg-dark text-white">
            Phone: 04-818-1818
          </p>
        </div>
        <div class="card-footer">
          <h5 class="text-muted">Dates: 2014-2015</h5>
        </div>
      </div>
    </div>
  </div>
</div>